# ==================================================
# R
# ==================================================

.Rhistory
.RData
.Ruserdata

# RStudio
.Rproj.user/

# ==================================================
# Generated analytical outputs
# ==================================================

*.RObj

df_practice_data.csv
df_pcn_data.csv

df_top10_practices.csv
df_top10_pcn.csv

# ==================================================
# Raw source data
# ==================================================

census/
gp_reg/
imd/
lookups/
org/
payments/
qof/
workforce/

# ==================================================
# Temporary files
# ==================================================

*.tmp
*.bak

# ==================================================
# Operating system files
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Quarto (if ever used)
# ==================================================

.quarto/

# ==================================================
# Logs
# ==================================================

*.log